body{
  color: white;
  background-image: url(fotoo.jpg);
}

.header{
	width: 1000px;
	height: 121px;
	border:1px solid black;
	background-image: url("fotoku.jpg");
	margin-bottom: 10px;
}

ul {
  width: 1000px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #857211;
}

li {
  float: left;
}

li a {
  display: block;
  color: #CCEEFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: yellow;
}

.pencarian{
  padding-top: 13px;
  padding-left: 10px;
  width: 500px;
  background-color: #857211;
  text-align: center;
  float: left;
}

.isi{
	background-color: gray;
  width: 1000px;
  height: auto;
}

.gambar{
  float: left;
  margin-right: 5px;
  margin-top: 5px; 
  margin-left: 5px;
}

.gallery{
  margin-top: 10px;
  width: 1000px;
  height: 300px;
}

.footer{
  margin-top: 10px;
  width: 1000px;
  height: 25px;
  padding-top: 15px;
  background-color: #857211;
}